*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
/*intro*/
h1 {
  text-align: center;
  color: white;
  text-decoration: none;
  justify-items: center;
}
a{
  color: #fff;
  text-decoration: none;
}
body{
  background-image: url("/images/black.jpeg");
  -webkit-background-image: url("/images/black.jpeg");
  -ms-background-image: url('/images/black.jpeg');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation-name: blackhole;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/*@keyframes blackhole{
  100%{filter: hue-rotate(360deg)}
}*/
.table1{
  border: 2px solid white;
  background-color: white;
  border-radius: 8px;
  position: sticky;
  left: 23%;
}
tr{
  border: 5px solid white;
  background-color: black;
  text-align: center;
}
td{
  padding-left: 15px;
  padding-right: 15px;
}


.table{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.section{
  background-color: transparent;
  margin-left: 7rem;
  margin-right: 7rem;
  border-radius: 4px;
  padding-left: 15px;
  padding-bottom: 40px;
  color: white;
  /*color: black;*/
  backdrop-filter: Blur(10px);
  -webkit-backdrop-filter: Blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: relative;
}
/*.section::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 1125px;
  height: 1340px;
  background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
  z-index: 1;
  animation: blackhole 10s linear infinite;
  transform-origin: bottom right;
}
@keyframes {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}*/
#search1{
  display: inline;
  width: 250px;
  height: 35px;
  border-radius: 4px;
  margin-top: 3px;
  margin-right: 20px;
}
form{
  display: inline;
  float: right;
}
.search{
  width: 80px;
  height: 25px;
  font-weight: bold;
  background-color: black;
  border-radius: 4px;
  margin-top: 3px;
  color: white;
  border: none;
  cursor: pointer;
}

.search:hover{
  opacity: 0.7;
}
.search:active{
  opacity: 0.4;
}

.intro{
  display: inline-block;
  vertical-align: top;
  position: relative;
  bottom: 0%;
}
.link:hover{
  opacity: .7;
}
/*app*/
.apps{
  display: inline-block;
}
.link4{
  display: block;
}
.app-pic{
  display: inline-block;
  margin-right: 20px;
}
.app-title{
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
 
}
span{
  font-weight: bold;
  font-size: 40px;
  
}
.link{
  color: black;
  color: #fff;
}
.s1{
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  top: 100px;
  left: 45%;
}
.picture{
  width: 190px;
}
@media screen and (max-width :768px){
  *{
     margin-left: 0;
   }
   body{  
     width: 768px;
   }
   header{
     margin-left: 0rem;
   }
   h1{
     font-size: 30px;
   }
   .table1 {
     width: 0px;
     margin-left: 0rem;
     left: 11.5%;
   }
   .section{
     width: 65%;
     margin-left: 9rem;
   }
  .intro{
     font-size: 80%;
   }
   .nextpage{
     margin-right: 5rem;
   }
 }    
 @media screen and (max-width: 768px){
  body{
    width: 100%;
  }
 }
 @media screen and (max-width :414px){
  *{
     margin-left: 0;
   }
   body{  
     width: 414px;
   }
   header{
     margin-left: 65px;
   }
   h1{
     font-size: 10px;
   }
   .Pad,.Pad1{
     display: inline-block;
     width: 22px;
   }
   table {
     width: 0px;
     margin-left: 1.5rem;
   }
   section{
     width: 70%;
     margin-left: 3.5rem;
   }
   .intro{
     font-size: 1px;
   }
 }    